name: CPU Alert

on:
# check the cpu every 5 min or run the file manual 
  schedule:
    - cron: "*/5 * * * *"   
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest

# to execute the job more than one time on deffrient servers insted of make more job for each server
    strategy:
      matrix:
        server: [front, back]

    steps:
      - name: "Check CPU ${{ matrix.server }} "
        id: check
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ matrix.server == 'front' && secrets.FRONTEND_IP || secrets.BACKEND_IP }}
          key: ${{ secrets.EC2_SSH_KEY }}
          username: ubuntu 
          host_fingerprint: ${{ matrix.server == 'front' && secrets.FRONTEND_FINGERPRINT || secrets.BACKEND_FINGERPRINT }}

          # watch the cpu and echo a message
          script: |
            CPU=$(top -bn3 -d1 | grep "Cpu(s)" | tail -n1 | awk '{print $2 + $4}')
            echo "CPU usage: $CPU"

            if (( $(echo "$CPU > 50" | bc -l) )); then
              echo "CPU_HIGH=true" >> $GITHUB_ENV
            else
              echo "CPU_HIGH=false" >> $GITHUB_ENV
            fi
          script_stop: false


      # if cpu > 50 do the Alert job
      - name: Alert 
        if: env.CPU_HIGH == 'true'
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.ALERT_EMAIL }}
          password: ${{ secrets.ALERT_EMAIL_PASSWORD }}
          subject: "High CPU on ${{ matrix.server }}"
          to: ${{ secrets.ALERT_EMAIL }}
          from: "Infra Monitor"
          body: |
            High CPU detected on server: ${{ matrix.server }}
            Host: ${{ matrix.server == 'front' && secrets.FRONTEND_IP || secrets.BACKEND_IP }}
            Workflow: ${{ github.repSository }}
